@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
header{
  background: #bbbbbb;
  padding: 20px 0;
}
.caixa{/* Caixa que contem o menu e o logo  */
  position: relative;
  width: 940px;
  margin: 0 auto;

}
nav li { /* Cada item da lista recebe o comportamento inline com uma margem de 15px pra esquerda */
  display: inline;
  margin: 0 0 0 15px;
}

nav{ /* Setamos a posição do menu e colocamos no meio da caixa */
  position: absolute;
  top: 110px;
  right: 0;
}

nav a { /* Transformando os itens da lista */
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}
nav a:hover{
  font-size: 29px;
}

nav a:hover{ /* Lê comportamento do usuario na tag nav e a hover = passar o mouse*/
  color: #c78c19;
  
}

main{
  width: 940px;
  margin: 40px auto;
}

form label{
  display: block;
  font-size: 20px;
  margin-bottom: 10px;

}

.input-padrao{
  display: block;
  margin-bottom: 10px;
  padding: 10px 25px;
  width: 50%;
  box-shadow: 4px 5px 4px rgba(109, 106, 106, 0.25);
}
form label, form legend{
  display: block;
  font-size: 20px;
  margin: 0 0 10px;
}
.checkbox{
  margin-top: 20px;
  margin-bottom: 20px;
}
.horarios{
  margin-top: 15px;
  padding: 5px;
  width: 75px;
  font-weight: bold;
  box-shadow: 1px 1px 1px #555555; 
}
.enviar{
  width: 40%;
  padding: 15px 0;
  background: orange;
  color: #ffffff;
  margin-bottom: 40px;
  font-weight: bold;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  transition: 0.5s all;
  cursor: pointer;
}
.enviar:hover{
  background:darkorange;
  transform: scale(1.2);
}
table{
  margin: 20px 0 40px;
  
}
thead{
  background: #555555;
  color: white;
  font-weight: bold;
}
thead th{
  border: 1px solid #000000;
  padding: 8px 15px;
}
tbody tr td{
  border: 1px solid #000000;
}
tbody td{
  padding: 10px;
}
.rodapé{
  padding: 30px 0;
}

footer {
  text-align: center;
  background: url("bg.jpg");
}
p{
  color: #ffffff;
  font-size: 13px;
  margin-top: 20px;
}
